$color-primary: #d74d16;
$color-primary-light: #ff753e;

$color-secondary: #136fb7;
$color-secondary-light: #2B96E7;

$color-danger: #b21212;
$color-warning: #b2810b;
$color-success: #0D971F;

$color-light-darker: #fafafa;
$color-light: #fff;
$color-dark: #1f1a18;