.button {
    display: inline-block;
    border: 0;

    background: $color-primary;
    color: $color-light;

    border-radius: 0.25em;

    padding: 0.5em 1em;

    font-size: inherit;
    font-family: $font-header;

    transition: background 0.2s ease-in-out;

    cursor: pointer;

    &:hover, &:focus {
        background: $color-primary-light;
    }
}

.button--smaller {
    font-size: 0.75em;
}