.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination_link {
    padding: 0.75em 1.25em;
    background: $color-light;
}

.pagination_link--active {
    background: $color-primary;
    color: $color-light;
}