.post {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    margin-bottom: $post-margin-bottom;

    &::before {
        content: '';
        position: absolute;
        top: 0; bottom: -$post-margin-bottom; left: $post-line-left;
        width: 1px;
        background: $color-light;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(2em + 10px); left: calc(#{$post-line-left} - 5px);
        width: 10px;
        height: 10px;
        border: 1px solid $color-light;
        background: $color-dark;
        border-radius: 50%;
    }

    &:last-of-type::before {
        bottom: 0;
    }
}

.post_content {
    background: $color-light-darker;
    color: $color-dark;
    padding: 2em 3em;

    display: flex;
    flex-direction: column;
}

.post_head {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    text-align: right;
}

.post_head_title {
    font: 1.5em $font-header;
    font-weight: bold;
    transition: color 0.2s ease-in-out;

    &:hover, &:focus {
        color: $color-primary;
    }
}

.post_head_summary {
    display: inline-block;
    text-transform: uppercase;
    font: 0.9em $font-header;
    font-weight: bold;
    padding: 0.3em 1.2em;
    border-radius: 0.25em;
    color: $color-light;
    background: $color-dark;
    margin-right: 1em;
}

.post_head_summary--shit {
    background: $color-danger;
}

.post_head_summary--half {
    background: $color-warning;
}

.post_head_summary--almost {
    background: $color-success;
}

.post_p {
    line-height: 2;
    text-align: justify;
}

.post_p:not(:last-of-type) {
    margin-bottom: 1.5em;
}

.post_info {
    padding: 1.5em 0 0 1.5em;
    white-space: nowrap;
}

.post_author-avatar {
    float: left;
    margin-right: 1em;
    width: 50px;
    height: 50px;
}

.post_author-name {
    display: block;
    font: 1.1em $font-header;
    font-weight: bold;
    line-height: 25px; // half of avatar
    transition: color 0.2s ease-in-out;

    &:hover, &:focus {
        color: $color-secondary-light;
    }
}

.post_date {
    display: block;
    font: 0.8em $font-header;
    color: $color-primary-light;
    
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.post_tags {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post_tags_tag {
    margin-bottom: 0.5em;
}

.post_readmore {
    margin-top: 1em;
    display: block;
    text-align: right;
    align-self: flex-end;
}

.post_section {
    margin-top: 2em;
}

.post_header {
    font: 1.3em 'Montserrat';
    margin: 2em 30% 1em 0;
    padding-bottom: 0.5em;
    border-bottom: rgba($color-dark, 0.1) 1px solid;
}

.post_header:first-child {
    margin-top: 0;
}

.post_listing {

}

.post_listing_item {
    position: relative;
}

.post_listing_item::before {
    content: '';
    position: absolute;
    left: -20px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 1em;
    transform: translate(-50%, -50%);
    border: 1px solid $color-dark;
}

.post_listing_item:not(:last-child) {
    margin-bottom: 2em;
}

.post_listing_item--positive::before {
    border-color: $color-success;
}

.post_listing_item--neutral::before {
    border-color: $color-warning;
}

.post_listing_item--negative::before {
    border-color: $color-danger;
}
        
.post_code {
    margin: 1em 0;
    display: block;
}